<table class="table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>First Name</td>
        <td>{{data.firstname}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Last Name</td>
        <td>{{data.lastname}}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Gender</td>
        <td>{{data.gen}}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Phone</td>
        <td>{{data.number}}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Password</td>
        <td>{{data.pass}}</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>EmpID</td>
        <td>{{data.empid}}</td>
      </tr>
      <hr><hr>
      <div>
   <button type="button" (click)="editform()">Main Page</button> 
  </div>
  </tbody>
</table>